<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>HaltEnabler</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>Hackintosh</string>
		<key>Arguments</key>
		<string>kext-dev-mode=1</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Timeout</key>
		<integer>1</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>3840x2160</string>
		<key>Theme</key>
		<string>bootcamp2.0</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>layout-id</key>
				<data>AgAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwASFg==</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>LANInjection</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>RadeonDeInit</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string>DGK744403QXGQRY8C</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-FFE5EF870D7BA81A</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>IM162.88Z.F000.B00.2006111037</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x03</string>
		<key>Family</key>
		<string>iMac</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>DGK744403QXGQRY8C</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac16,2</string>
		<key>SmUUID</key>
		<string>6A4D7720-D1CB-4075-90BB-268B5C014F00</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>236.0.0.0.0</string>
		<key>SerialNumber</key>
		<string>C02QD47CGG78</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/11/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>